.pagination{
display:flex;
justify-content:center;
gap:10px;
margin-top:40px;
}

.pagination button{
padding:8px 14px;
border:none;
background:#eee;
cursor:pointer;
border-radius:6px;
}

.pagination button.active{
background:#3cb173;
color:white;
}

.pagination button:disabled{
opacity:0.5;
cursor:not-allowed;
}